@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	background: lightgray;
}

h1, h2, h3, p, input {
    font-weight: 400;
}

/****************
**** header *****
****************/

header {
	position: relative;
}

.banner {
    height: 667px;
    width: 100%;
    background-image: url('../lampos-aritonang.jpg');
    background-size: cover;
    background-position: center 75%;
}

.logo {
	display: flex;
	color: white;
    align-items: flex-end;
    padding: 50px;
    gap: 10px;
}

.logo h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	font-size: 32px;
	line-height: 0.9;
}

.ext-circle {
    display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	border: 2px solid white;
	height: 15px;
	width: 15px;
	margin-bottom: 2px;
}

.round {
	background: white;
	height: 11px;
	width: 11px;
	border-radius: 100%;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/****************
**** search *****
****************/

.section-search {
    display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-search h2 {
	color: #ffd15b;
	font-size: 44px;
	text-align: center;
	font-family: 'anton', sans-serif;
}

.section-search input {
	height: 72px;
	width: 919px;
	border-radius: 11px;
	font-size: 16px;
	border: none;
	outline: none;
	padding-left: 35px;
}

#search {
	position: relative;
}

.clear-search {
	display: none;
    position: absolute;
    top: 79%;
	right: 8%;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
	font-size: 40px;
}

.search-magnifier {
    display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: #1b1b1b;
	height: 52px;
	width: 52px;
	border-radius: 10px;
	top: 77.5%;
	right: 1%;
	cursor: pointer;
	border: none;
}

.search-magnifier:hover {
	background: #ffd15b;
}

.search-magnifier svg {
	height: 28px;
	width: 28px;
	fill: white;
}

.search-magnifier:hover svg {
	fill: black;
}

/****************
**** tags *****
****************/

main {
	max-width: 1280px;
	margin: auto;
}

.section-tags {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.section-tags h3 {
	font-size: 21px;
	font-family: 'Anton', sans-serif;
}

.tags {
	display: flex;
	gap: 80px;
}

.tag {
    position: relative;
}

.btn-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 195px;
    border-radius: 11px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    background: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-tags.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-tags svg {
    height: 16px;
    width: 16px;
    fill: #1b1b1b;
    transition: transform 0.3s;
}

.btn-tags.open svg {
    transform: rotate(180deg);
}

/***********************
**** dropdown tags *****
***********************/

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 195px;
    max-height: 300px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
    border-radius: 0 0 10px 10px;
    scrollbar-width: none;
}

.dropdown::-webkit-scrollbar {
    display: none;
}

.search-bar-container {
    padding: 5px 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: white;
}

.dropdown.open {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 10px -3px,
        rgba(0, 0, 0, 0.04) 0px 4px 6px -2px;
    padding-top: 0;
}

.dropdown .search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
    outline: none;
}

.dropdown-items-container {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.dropdown-item {
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.dropdown-item:hover {
    background-color: #ffd15b;
}

.clear-tag {
    display: none;
    position: absolute;
    top: 24%;
    right: 20%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #7a7a7a;
}

.clear-tag.visible {
    display: block;
}

.magnifying-glass {
    fill: #7a7a7a;
    position: absolute;
    top: 30%;
    right: 12%;
    height: 16px;
    width: 16px;
}

/*********************
**** search tags *****
*********************/

.search-tags-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.search-tags {
    display: flex;
    flex-wrap: wrap;
}

.search-tag {
    display: inline-flex;
    align-items: center;
    background-color: #ffd15b;
    border-radius: 10px;
    padding: 12px 12px;
    margin: 5px;
    white-space: nowrap;
}

.search-tag span {
    margin-right: 45px;
}

.search-tag button {
    background: none;
    border: none;
    cursor: pointer;
}

.close-tags {
	font-size: 30px;
}



/**********************
**** section menu *****
**********************/

.section-menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	margin: 60px 0 100px 0;
}

/****************
**** cards *****
****************/

.card {
	background: white;
	border-radius: 15px;
	box-shadow: 0px 4px 34px 30px #0000000a;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	position: relative;
	height: 731px;
}

.card img {
	width: 100%;
	height: 253px;
	object-fit: cover;
}

.card-content {
	padding: 30px;
	flex-grow: 1;
}

.card h2 {
	margin-top: 0;
	font-size: 17px;
	font-family: 'Anton', sans-serif;
}

.card h3 {
	font-size: 12px;
	font-weight: 700;
	margin: 30px 0 10px 0;
	color: #7a7a7a;
}

.recipe-description {
	color: #1b1b1b;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 84px;
	width: 330px;
}

.ingredients {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-top: 16px;
}

.ingredient {
	display: flex;
	flex-direction: column;
}

.ingredient-name {
	color: #1b1b1b;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}

.ingredient-quantity {
	color: #7a7a7a;
	font-size: 14px;
	margin: 0;
}

.time-label {
	position: absolute;
	top: 15px;
	right: 15px;
	background: #ffd15b;
	color: #1b1b1b;
	padding: 5px 10px;
	border-radius: 14px;
	font-size: 12px;
}

.no-results-message {
	display: none;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -7rem;
}